---
import Footer from "@/components/blogs/Footer";
import { Link } from "@/components/blogs/Link";
import Navbar from "@/components/blogs/Navbar";
import { BaseList, BaseText, Heading1, Heading2 } from "@/components/blogs/Text";
import Layout from "@/layouts/Layout.astro";
import { getBlogs } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getBlogs();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post,
  post: {
    data: { title, description },
  },
} = Astro.props;
const { Content } = await post.render();

const blogs = await getBlogs();
const randomBlog = blogs.filter((blog) => blog.id !== post.id)[
  Math.floor(Math.random() * (blogs.length - 1))
];
---

<Layout title="Blog">
  <main class="flex flex-col h-screen w-[99%] items-center">
    <Navbar />

    <div class="flex justify-start flex-col h-full w-10/12 sm:w-1/2 gap-4">
      <Link href="/">← back</Link>
      <div class="text-left mb-10">
        <div class="text-stone-200 tracking-tighter text-base">
          {title}
        </div>
        <div class="text-stone-500 text-sm italic">
          {description}
        </div>
      </div>
      <div class="flex flex-col text-base tracking-tighter">
        <Content components={{a: Link, p: BaseText, h1: Heading1, h2: Heading2, ul: BaseList,}}/>
      </div>
      <div class="mt-16 text-stone-500 text-sm">
        Thanks for reading! Want to read more like this? Read <Link
          href={randomBlog.slug}>{randomBlog.data.title}</a
        >
      </div>
      <Footer />
    </div>
  </main>
</Layout>
