---
import Navbar from "@/components/Navbar";
import Blog from "@/layouts/Blog.astro";
import Layout from "@/layouts/Layout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post,
  post: {
    data: { title, description, date, isDraft },
  },
} = Astro.props;
const { Content } = await post.render();
---

<Blog title="Blog">
  <main class="flex flex-col h-screen w-screen items-center px-5 sm:px-0">
    <Navbar />

    <div class="flex justify-start flex-col h-full">
      <a href="/" class="links mb-5">← back</a>
      <div class="text-left mb-10">
        <div class="text-xl sm:text-3xl text-stone-200 tracking-widest">
          {title}
        </div>
        <div class="text-stone-500 text-sm sm:text-base italic">
          {description}
        </div>
      </div>
      <div class="flex flex-col">
        <Content />
      </div>
    </div>
  </main>
</Blog>
