---
import Navbar from "@/components/Navbar";
import Layout from "@/layouts/Layout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post,
  post: {
    data: { title, description, date, isDraft },
  },
} = Astro.props;
const { Content } = await post.render();
---

<Layout title="Blog">
  <main class="flex flex-col h-screen w-screen items-center px-5 sm:px-0">
    <Navbar />

    <div class="flex justify-start flex-col">
      <a href="/" class="links">back</a>
      <div class="text-left">
        <div class="text-4xl text-stone-200 tracking-widest">{title}</div>
        <div class="text-stone-500">{description}</div>
      </div>
      <Content />
    </div>
  </main>
</Layout>
