---
import "../globals.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import { getProjects } from "@/lib/projects";

import Project from "../components/Projects.astro";
const projects = await getProjects(6);
---

<Layout title="Ranjan Srinivas - Home">
  <main class="flex flex-col h-screen w-screen items-center">
    <Navbar />

    <div class="w-full sm:w-2/5 mx-auto">
      <h1 class="text-xl tracking-wide">Ranjan Srinivas</h1>

      <div class="flex flex-col gap-5 text-stone-300">
        <p>
          I'm a 26/yo software engineer from India. I'm currently working at <a
            href="https://www.chippercash.com"
            class="links">ChipperCash</a
          > as a Mid-level software engineer.
        </p>

        <p>
          In my free time, I play <a
            href="https://www.ea.com/games/apex-legends"
            class="links">Apex Legends</a
          >, watch <a href="https://www.manutd.com" class="links"
            >Manchester United</a
          > or just chill at a Coffee shop.
        </p>
      </div>

      <h1 class="text-xl mt-10 tracking-wide">Projects</h1>

      <div class="grid grid-cols-2 gap-1 md:grid-cols-3">
        {projects.map((project) => <Project {project} />)}
      </div>
    </div>
  </main>
</Layout>
