---
import { getProjects } from "@/lib/projects";
import Navbar from "../components/Navbar";
import "../globals.css";
import Layout from "../layouts/Layout.astro";

import BlogRow from "@/components/BlogRow.astro";
import { getBlogs } from "@/lib/utils";
import { twMerge } from "tailwind-merge";
import Project from "../components/Projects.astro";
import Footer from "@/components/Footer";

const projects = await getProjects(6);
const blogs = await getBlogs();
---

<Layout title="Ranjan Srinivas - Home">
  <main
    class={twMerge(
      "flex flex-col h-screen w-screen items-center px-5 sm:px-0",
      "justify-between"
    )}
  >
    <Navbar />

    <div class="w-full sm:w-2/5">
      <h1 class="text-xl font-bold tracking-wide mt-10">Ranjan Srinivas</h1>

      <div class="flex flex-col gap-5 text-stone-300 text-sm sm:text-base">
        <p>
          I'm a 26/yo software engineer from India, working at <a
            href="https://www.chippercash.com"
            class="links">ChipperCash</a
          >, and currently residing in Los Angeles, CA.
        </p>

        <p>
          In my free time, I play <a
            href="https://www.ea.com/games/apex-legends"
            class="links">Apex Legends</a
          >, watch <a href="https://www.manutd.com" class="links"
            >Manchester United</a
          >, or just relax at coffee shops.
        </p>
      </div>

      <h1 class="text-xl mt-10 tracking-wide">Projects</h1>

      <div class="grid grid-cols-2 gap-5 md:grid-cols-3">
        {projects.map((project) => <Project {project} />)}
      </div>

      <h1 class="text-xl mt-10 tracking-wide">Blogs</h1>
      <div class="flex flex-col gap-2">
        {blogs.map((post) => <BlogRow {post} />)}
      </div>
    </div>
    <Footer />
  </main>
</Layout>
