---
import { getProjects } from "@/lib/projects";
import Navbar from "../components/Navbar";
import "../globals.css";
import Layout from "../layouts/Layout.astro";

import BlogRow from "@/components/BlogRow.astro";
import Footer from "@/components/Footer";
import NoteRow from "@/components/NoteRow.astro";
import { getBlogs, getNotes } from "@/lib/utils";
import { twMerge } from "tailwind-merge";
import Project from "../components/Projects.astro";

const projects = await getProjects(6);
const blogs = await getBlogs();
const notes = await getNotes();
---

<Layout title="Ranjan Srinivas - Home">
  <main
    class={twMerge("flex flex-col h-screen w-screen items-center px-5 sm:px-0")}
  >
    <Navbar />

    <div class="w-full sm:w-2/5 flex flex-col flex-grow gap-10 text-base">
      <div>
        <h1>Ranjan Srinivas</h1>
        <div class="text-stone-300">
          <p>
            I'm a 27/yo Software Engineer working at <a
              href="https://ebury.com/"
              class="links">ChipperCash</a
            >, and currently residing in London, UK.
          </p>
          <br />
          <p>
            In my free time, I play <a
              href="https://www.ea.com/games/apex-legends"
              class="links">Apex Legends</a
            >, watch <a href="https://www.manutd.com" class="links"
              >Manchester United</a
            >, or just relax at coffee shops.
          </p>
        </div>
      </div>

      <div>
        <h1>Projects</h1>
        <div class="grid grid-cols-2 gap-5 md:grid-cols-3">
          {projects.map((project) => <Project {project} />)}
        </div>
      </div>

      <div>
        <h1>Blogs</h1>
        <div class="flex flex-col gap-1">
          {blogs.map((post) => <BlogRow {post} />)}
        </div>
      </div>

      <div>
        <h1>Notes</h1>
        <div class="flex flex-col gap-1">
          {notes.map((post) => <NoteRow {post} />)}
        </div>
      </div>
    </div>
    <Footer />
  </main>
</Layout>
