---
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post: {
    data: { title, date, isDraft },
    slug,
  },
} = Astro.props;
---

<article class="flex justify-between">
  {
    isDraft ? (
      <>
        <span class="text-base text-stone-700">{title}</span>
        <span class="text-sm sm:text-sm text-stone-700 font-bold tracking-widest">
          DRAFT
        </span>
      </>
    ) : (
      <>
        <a href={`/blog/${slug}`} class="row text-base" target="_blank">
          <span>{title}</span>
        </a>
        <span class="text-base">
          {new Date(date).toLocaleDateString("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
          })}
        </span>
      </>
    )
  }
</article>
