---
import type { CollectionEntry } from "astro:content";
import { Date } from "./blogs/Date";
import { Link } from "./blogs/Link";


type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post: {
    data: { title, date },
    slug,
  },
} = Astro.props;
---

<article class="flex justify-between">
  <>
    <Link href={`/blog/${slug}`}>
      <span>{title}</span>
    </Link>
    <Date date={date} />
  </>
</article>
