---
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"note">;
};

const {
  post: {
    data: { title, date },
    slug,
  },
} = Astro.props;
---

<article class="flex justify-between">
  <>
    <a href={`/note/${slug}`} class="row text-base" target="_blank">
      <span>{title}</span>
    </a>
    <span class="text-base">
      {
        new Date(date).toLocaleDateString("en-US", {
          month: "long",
          day: "numeric",
          year: "numeric",
        })
      }
    </span>
  </>
</article>
