---
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post: {
    data: { title, date },
    slug,
  },
} = Astro.props;
---

<article class="flex justify-between">
  <a href={`/blog/${slug}`} class="links">
    <span>{title}</span>
  </a>

  <span>{date}</span>
</article>
