---
import type { Projects } from "../lib/projects";

type Props = {
  project: Projects;
};

const {
  project: { repo: name, description, link },
} = Astro.props;
---

<div class="w-fit flex flex-col">
  <a href={link} class="links">
    <span class="text-base">{name}</span>
  </a>
  <span class="pt-1 text-sm text-stone-300">{description}</span>
</div>
