---
import type { Projects } from "../lib/projects";
import { Link } from "./blogs/Link";

type Props = {
  project: Projects;
};

const {
  project: { repo: name, description, link },
} = Astro.props;
---

<div class="w-fit flex flex-col">
  <Link href={link || "/"}>{name}</Link>
  <span class="pt-1 text-sm text-stone-300">{description}</span>
</div>
