---
import type { Projects } from '../lib/projects';
import { Link } from './blogs/Link';
import { TitleDescription } from './blogs/Text';

type Props = {
	project: Projects;
};

const {
	project: { repo: name, description, link },
} = Astro.props;
---

<div class="w-fit flex flex-col">
	<Link href={link || '/'}>{name}</Link>
	<TitleDescription>{description}</TitleDescription>
</div>
