---
import Footer from "@/components/Footer";
import Navbar from "@/components/Navbar";
import Layout from "@/layouts/Layout.astro";
import { getNotes } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getNotes();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"note">;
};

const {
  post,
  post: {
    data: { title, description },
  },
} = Astro.props;
const { Content } = await post.render();

const notes = await getNotes();
const randomBlog = notes.filter((blog) => blog.id !== post.id)[
  Math.floor(Math.random() * (notes.length - 1))
];
---

<Layout title="Notes">
  <main class="flex flex-col h-screen w-[99%] items-center">
    <Navbar />

    <div class="flex justify-start flex-col h-full w-10/12 sm:w-1/2">
      <a href="/" class="links mb-5 text-base">← back</a>
      <div class="text-left mb-10">
        <div class="text-base text-stone-200 tracking-tighter">
          {title}
        </div>
        <div class="text-stone-600 text-base">
          {description}
        </div>
      </div>
      <div class="flex flex-col tracking-tighter text-base">
        <Content />
      </div>
      <!-- <div class="mt-16 text-stone-500 italic">
        Thanks for reading! Want to read more like this? Read <a
          class="ml-1"
          href={randomBlog.slug}>{randomBlog.data.title}</a
        >
      </div> -->
      <Footer />
    </div>
  </main>
</Layout>
