---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource/inter";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      async
      src="https://umami-production-6446.up.railway.app/script.js"
      data-website-id="66775f29-468c-48ad-8538-0da485b98edc"></script>
    <meta charset="UTF-8" />
    <meta name="description" content="Ranjan's Internet Home" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    background: #050210;
    background-size: 224px;
    background-image: radial-gradient(
      circle at 1px 1px,
      #33303b 1px,
      transparent 0
    );
    background-size: 40px 40px;
  }

  .links {
    @apply text-stone-400 hover:text-stone-300 font-medium underline underline-offset-4;
  }
  h1 {
    @apply text-3xl text-stone-500;
  }
  h2 {
    @apply text-lg sm:text-2xl text-stone-500 mt-3;
  }
  h3 {
    @apply text-base sm:text-xl text-stone-500 mt-5;
  }
  h4 {
    @apply text-sm sm:text-base text-stone-500 mt-5;
  }
  body {
    @apply text-stone-300 text-xs sm:text-base leading-relaxed;
    font-family: "Inter";
  }
  a {
    @apply text-stone-400 hover:text-stone-300 font-medium underline underline-offset-4;
  }
  li {
    @apply my-2 list-inside list-disc;
  }
  code {
    font-family: Menlo, Consolas, "Droid Sans Mono", "Courier New", Courier,
      monospace;
    background: #1e1e1e !important;
    color: #d4d4d4;
    font-weight: 400;
    border-radius: 3px;
    @apply text-xs sm:text-sm;
    /* If you need space around inline code, use margin (mx-1 or my-1) or adjust line-height. */
  }

  pre {
    font-family: Menlo, Consolas, "Droid Sans Mono", "Courier New", Courier,
      monospace;
    background: #1e1e1e !important;
    color: #d4d4d4;
    font-weight: 400;
    border-radius: 3px;
    @apply my-5 text-xs sm:text-sm py-5; /* py-5 will now only apply to block code wrapped in <pre> */
  }
</style>
