---
import "@fontsource/inter";
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description?: string;
  image?: string;
  article?: boolean;
}

const { 
  title, 
  description = "Ranjan's Internet Home",
  image = "/favicon.png",
  article = false 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: article ? "article" : "website",
          image: image,
        },
        optional: {
          description: description,
          siteName: "Ranjan's Website",
        },
      }}
      twitter={{
        creator: "@rkaahean",
        card: "summary",
      }}
    />
    <script
      defer
      src="https://umami-production-3192.up.railway.app/script.js"
      data-website-id="6c80e2ad-0804-4a50-9b48-d9954ec7bc3c"></script>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    background-size: 224px;
    background-image: radial-gradient(
      circle at 1px 1px,
      #232225 1px,
      transparent 0
    );
    background-size: 40px 40px;

    @apply bg-stone-900;
  }

  body {
    @apply text-stone-300;
    font-family: "Inter";
  }

  /* Inline code styling */
  :not(pre) > code {
    color: #152210 !important;
    background-color: #FFF8EC !important;
    padding: 0.0625rem 0.125rem !important;
    border-radius: 0.25rem !important;
    font-size: 0.875rem !important;
  }

</style>
