---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource/roboto";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    background: #050210;
    background-size: 224px;
    color: #78716c;
    background-image: radial-gradient(
      circle at 1px 1px,
      #33303b 1px,
      transparent 0
    );
    background-size: 40px 40px;
  }

  code {
    font-family: Roboto, Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .links {
    @apply text-stone-400 hover:text-stone-300 font-medium underline underline-offset-4;
  }
  h1 {
    @apply text-3xl text-stone-500;
  }
  h2 {
    @apply text-lg sm:text-2xl text-stone-500 mt-5;
  }
  body {
    @apply text-stone-300;
    font-family: "Roboto";
  }
  a {
    @apply text-stone-400 hover:text-stone-300 font-medium underline underline-offset-4;
  }
</style>
